# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# Virtual envs
.venv/
venv/
env/

# OS/editor
.DS_Store
.idea/
.vscode/

# Django
staticfiles/
media/
*.sqlite3

# Secrets
.env
*.env
google-credentials.json

# Node (se usar no futuro)
node_modules/
